.button {
  border: 1px solid black;
  margin-top: 5px;
  border-radius: 2px;
  padding: 0.3rem;
  overflow: hidden;
  background: white;
}

.search {
  margin: 0;
  padding: 0.5rem;
  border-radius: 50px;
}

.button:hover {
  transform: scale(1.04);
}
