.loading {
  display: flex;
  position: fixed;
  width: inherit;
  height: inherit;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.loading-spinner__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  padding: 1rem;
  overflow: hidden;
  background: white;
}

.loading-spinner {
  width: 48px;
  height: 48px;
  animation: spin 0.7s linear infinite;
}

.page-loading {
  display: flex;
  position: absolute;
  width: 100%;
  height: 95%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.page-loading-spinner__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  padding: 1rem;
  overflow: hidden;
  background: white;
}

.page-loading-spinner {
  width: 48px;
  height: 48px;
  animation: spin 0.7s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
