.detail {
  position: relative;
  width: 600px;
  top: 2%;
}

.detail-container__body {
  display: flex;
  width: 100%;
  margin-bottom: 3%;
}

.detail-container__left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}

.detail-img img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  margin-bottom: 10px;
  background-repeat: no-repeat;
  background-attachment: initial;
}

.detail-favorite {
  display: flex;
  width: 80%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.detail-container__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  padding-bottom: 5px;
}

.detail-desc {
  font-size: smaller;
}

.detail-container__footer {
  display: flex;
  width: 100%;
  flex-direction: row;
}
.detail-container__support {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  border: 1px solid black;
  border-radius: 15px;
  height: 100%;
  width: 45%;
}

.detail-support {
  font-weight: bold;
  text-decoration: none;
  font-size: smaller;
}

.detail-support,
.detail-support:visited .detail-support:active .detail-support:link {
  color: black;
}

.detail-like__container {
  display: flex;
  border: 1px solid black;
  padding: 0.5rem;
  border-radius: 15px;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 5px;
  font-size: smaller;
  width: 40%;
  height: 100%;
}

.detail-like__number-active {
  font-weight: bold;
}

.detail-desc {
  display: flex;
  flex-direction: column;
  padding-top: 8px;
}

.detail-desc__contents {
  display: flex;
  height: 1em;
  flex-direction: row;
  align-items: center;
}

.detail-desc__contents p {
  font-weight: bold;
}

.detail-container__sns {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 40px;
  padding-bottom: 3px;
  width: 100%;
}

.detail-like__image,
.detail-like__image-active {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.detail-sns__youtube,
.detail-sns__instagram,
.detail-sns__soundcloud {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 10px;
}

@media (max-width: 815px) {
  .detail {
    position: relative;
    width: 600px;
    height: 576px;
    top: 0;
  }

  .detail-container__body {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 558px;
    justify-content: center;
  }

  .detail-container__left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 200px;
  }
  .detail-favorite {
    width: 70%;
    height: 20%;
  }

  .detail-container__right {
    align-items: center;
    justify-content: space-evenly;
    height: 250px;
  }
  .detail-desc {
    width: 70%;
  }
  .detail-container__sns {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding-right: unset;
    padding-bottom: unset;
    width: 100%;
  }

  .detail-sns__soundcloud {
    margin-right: unset;
  }

  .detail-img img {
    width: 150px;
    height: 150px;
  }
}
