.myPage__container {
  display: flex;
  position: absolute;
  width: 100vw;
  height: 80vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.myPage-menu__container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 80rem;
  height: 30rem;
  top: 20%;
  left: 10%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  padding: 1rem;
  overflow: hidden;
  background: white;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.myPage-menu-addIndie__container {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  width: 30%;
  height: 50%;
}

.myPage-menu-addIndie__text:hover {
  transform: scale(1.01);
}

.myPage-menu-addIndie__text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border: 1px solid #7e7e7e;
  border-radius: 10px;
  width: 70%;
  height: 100%;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.myPage-menu-editIndie__container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  width: 30%;
  height: 60%;
}
.myPage-menu-deleteIndie__container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  width: 30%;
  height: 60%;
}
