.main__container {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  top: 0;
  left: 0;
  color: white;
  background-blend-mode: multiply;
}

.main__mainTitle {
  font-size: 7vh;
  margin-bottom: 10px;
}

.main__subTitle {
  font-size: 2.5vh;
}
