.message {
  width: 90%;
  height: 250px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  padding: 1rem;
  margin-bottom: 50px;
  background-color: white;
}

.message-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;
}

.message-title__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.message-title {
  font-weight: bold;
  text-align: left;
}

.message-button__reply {
  width: 18px;
  height: 18px;
  background-image: url("../../media/plus.png");
  background-size: cover;
  margin-right: 4px;
  cursor: pointer;
}

.message-delete__btn {
  width: 18px;
  height: 18px;
  background-image: url("../../media/delete.png");
  background-size: cover;
  cursor: pointer;
}
.message-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  word-break: break-all;
  height: 60%;
  overflow: auto;
}

.message-replyStatus {
  font-size: 0.9em;
  color: #808080;
  font-weight: bold;
  text-align: right;
}

.message-replied {
  font-weight: bold;
  color: blue;
}
