.search-delete__container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #7e7e7e;
  border-radius: 10px;
  width: 70%;
  height: 100%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.search-delete__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.search-delete__form label {
  margin-bottom: 10px;
}

.search-delete-input__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.search-delete-input__container input {
  width: 50%;
}
