.search__container {
  display: flex;
  position: absolute;
  width: 100vw;
  height: 80vh;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  color: black;
  font-size: 0.8em;
}

.search-card,
.search-card__random {
  position: relative;
  margin: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  padding: 1rem;
  overflow: hidden;
  background: white;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 44rem;
}

.search__mine-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 100%;
  padding: 1rem;
}

.search__mine-header {
  display: flex;
  flex-direction: row;
}

.search__mine-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search__mine-header h1 {
  margin-right: 25px;
}

.search__mine-header Input {
  height: 40px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 0.2rem solid black;
  margin-right: 10px;
}

.search__somebody-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding: 1rem;
  width: 100%;
}

.search__somebody-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media (max-width: 815px) {
  .search__container {
    height: 555px;
  }
  .search__mine-container {
    font-size: smaller;
  }

  .search-card {
    width: 320px;
    height: 140px;
  }

  .search-card__random {
    width: 320px;
    height: 200px;
  }

  .search__mine-header {
    display: flex;
    flex-direction: column;
  }

  .search__somebody-header {
    font-size: smaller;
  }

  .search__somebody-container {
    justify-content: center;
  }
}
